@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");

:root {
  --c-primary: #5ece7b;
  --c-text: #1d1f22;
  --c-white: #fff;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: var(--c-text);
}

html {
  overflow-y: scroll;
  min-width: 800px;
}

a {
  text-decoration: inherit;
  color: inherit;
}

button:focus,
a:focus {
  outline: none;
  border: none;
}

/* GENERIC */
.container {
  margin: 80px 100px;
  max-width: 1920px;
}

.dropdown {
  position: relative;
}

div.image {
  background-size: cover;
  background-position: center;
}

img.image {
  object-fit: cover;
  object-position: center;
}

/* NAVBAR */

.navbar {
  box-sizing: border-box;
  height: 80px;
  padding: 0 100px;
  background-color: var(--c-white);
  position: sticky;
  top: 0;
  display: flex;
  align-content: center;
  justify-content: space-between;
  z-index: 2;
}

.navbar .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 32px;
}

/* CATEGORY LIST */

.category-list {
  display: flex;
  align-items: stretch;
}

.category-list .element {
  padding: 0 16px;
  display: flex;
  align-items: center;
  font-size: 16px;
  text-transform: uppercase;
  border: 2px solid transparent;
  background-color: transparent;
  cursor: pointer;
}

.category-list .element.selected {
  color: var(--c-primary);
  border-bottom: 2px solid var(--c-primary);
  font-weight: 600;
}

/* OPTION LIST */

.option-list {
  display: flex;
}

.option-list .element {
  height: 100%;
  border: none;
  background: none;
  margin: 0 4px;
  padding: 0 8px;
  cursor: pointer;
}

.option-list .currency {
  display: flex;
  align-items: center;
  font-size: 18px;
}

.option-list .currency .arrow {
  margin-left: 8px;
}

.option-list .arrow.open {
  transform: rotate(180deg);
}

/* CURRENCY MENU */

.currency-menu {
  padding: 8px;
  position: absolute;
  top: 60px;
  left: -12px;
  box-shadow: 0px 4px 35px 0px #a8acb030;
  z-index: 3;
}

.currency-menu .element {
  display: flex;
  justify-content: space-between;
  padding: 8px 32px 8px 16px;
  margin: 4px 0;
}

.currency-menu .element .symbol {
  margin-right: 8px;
  flex: 1;
}

.currency-menu .element .value {
  flex: 3;
}

/* CATEGORY PAGE */

.category-page .title {
  font-size: 42px;
  margin-bottom: 100px;
}

.category-page .title::first-letter {
  text-transform: capitalize;
}

.category-page .grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 40px;
  row-gap: 100px;
  justify-content: start;
}

@media (max-width: 1600px) {
  .category-page .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1250px) {
  .category-page .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 900px) {
  .category-page .grid-container {
    grid-template-columns: 1fr;
  }
}

/* PRODUCT ITEM */

.product-item {
  padding: 16px;
  position: relative;
  cursor: pointer;
}

.product-item:hover {
  box-shadow: 0px 4px 35px 0px #a8acb030;
}

.product-item.out-of-stock {
  opacity: 0.5;
}

.product-item .image {
  height: 330px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-item.out-of-stock .image .message {
  font-size: 24px;
  text-transform: uppercase;
  position: absolute;
  /* color: white;
  mix-blend-mode: difference; */
}

.product-item .name {
  margin-top: 24px;
  font-size: 18px;
  font-weight: 300;
}

.product-item .price {
  font-size: 18px;
  font-weight: 500;
}

.product-item .cart-icon {
  width: 52px;
  height: 52px;
  padding: 8px;
  background-color: var(--c-primary);
  border: none;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 58px;
  right: 31px;
  cursor: pointer;
  display: none;
}

.product-item:hover .cart-icon {
  display: flex;
}

.product-item.out-of-stock:hover .cart-icon {
  display: none;
}

.product-item .cart-icon img {
  width: 24px;
}

/* PRODUCT PAGE */

.product-page {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  max-width: 1500px;
}

/* PRODUCT GALLERY */

.product-gallery {
  flex-grow: 5;
  flex-basis: 0;
  display: flex;
  margin-right: 100px;
  height: 75vh;
}

.product-gallery .thumbnails {
  width: 110px;
  min-width: 110px;
  margin-right: 40px;
  overflow-y: scroll;
  overflow-x: overlay;
  -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}

.product-gallery .thumbnails::-webkit-scrollbar {
  /* Hide scrollbar for Chrome, Safari and Opera */
  display: none;
}

.product-gallery .thumbnails .image {
  width: 100%;
  height: 90px;
  margin-bottom: 40px;
  cursor: pointer;
}

.product-gallery .preview {
  width: 100%;
  height: 100%;
}

.product-gallery .preview img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* PRODUCT DESCRIPTION */

.product-details {
  flex-grow: 2;
  flex-basis: 0;
}

.product-details h2 {
  font-size: 30px;
}

.product-details .title {
  font-weight: 600;
  margin-bottom: 16px;
}

.product-details .subtitle {
  margin-bottom: 42px;
}

.product-details .label {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.product-details .attributes {
  margin-bottom: 40px;
}

.product-details .product-price {
  margin-bottom: 24px;
}

.product-details .product-price .label {
  margin-bottom: 16px;
}

.product-details .product-price .price {
  font-size: 24px;
  font-weight: 700;
}

.product-details .call-to-action {
  width: 100%;
  padding: 16px 31px;
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 600;
  color: var(--c-white);
  text-transform: uppercase;
  background-color: var(--c-primary);
  border: none;
}

.product-details .description {
  font-family: "Roboto";
  overflow-y: auto;
  max-height: 400px;
}
